:root {
    --blue: #1a428d;
    --blue-light: #3d99d1;
    --orange: #f15e28;
    --green: #359445;
    --green-light: #4fd25d;
    --yellow: #fcf04d;
    --red: #f02118;
    --purple: #6b0161;
    --gray: #808080;
    --gray-light: #f9f9fa;
}
